@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using static ASI.Basecode.Resources.Views.Screen

<div class="sidebar-container">
    <div class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <input type="checkbox" id="check"> 
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>    
    </label>
        <div class="sidebar">
            <header>
                <div class="logosec">
                    <div class="dp">
                        <img src="~/img/admin-profile-logo.png"
                             class="dpicn hover-pointer"
                             alt="dp">
					</div>
                        <div class="user-info">
                            <div class="username">
                                @HttpContextAccessor.HttpContext.Session.GetString("UserName")
                            </div>
                            <div class="email">
                                @HttpContextAccessor.HttpContext.Session.GetString("Email")
                            </div>
                        </div>
                </div>
            </header>
            <ul>
                <li><a asp-action="Dashboard" asp-controller="Home"><i class="fas fa-qrcode"></i>Dashboard</a></li>
                <li><a asp-action="BookGenreList" asp-controller="Admin"><i class="fa-solid fa-table-list"></i>Genre List</a></li>
                <li><a asp-action="AdminBookList" asp-controller="Admin"><i class="fas fa-book"></i>Book List</a></li>
                <li><a asp-action="BookReviewList" asp-controller="Admin"><i class="fa-solid fa-star"></i>Review List</a></li>
                <li><a asp-action="Users" asp-controller="Account"><i class="fa-solid fa-user-group"></i>Accounts</a></li>
                <li><a asp-action="SignOutUser" asp-controller="Account"><i class="fas fa-right-from-bracket"></i>Sign Out</a></li>
            </ul>
        </div>
    </div>
</div>

