@using ASI.Basecode.Services.ServiceModels
@using static ASI.Basecode.Resources.Views.Screen
@model BookViewModel
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Add Book Page";
}
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
<div class="container py-5 h-100 register-box">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="card-body p-md-5 mx-md-4">

                        <div class="text-center">
                            <img src="./img/flipThru1.svg"
                                 style="width: 185px;" alt="logo">
                        </div>
                        <form method="post" action="/Home/Addbooks"> 
                            <div class="form-outline mb-4"> 
                                <label class="form-label" for="userId">Book Id</label>
                                <input type="text" id="BookId" class="form-control"
                                       asp-for="BookId" placeholder="Enter Book Id" />
                                <span asp-validation-for="BookId" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Book Title</label>
                                <input type="text" id="BookTitle" class="form-control"
                                       asp-for="BookTitle" placeholder="Enter Book Title" />
                                <span asp-validation-for="BookTitle" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Book Genre</label>
                                <input type="text" id="name" class="form-control"
                                       asp-for="BookGenre" placeholder="Enter Book Genre" />
                                <span asp-validation-for="BookGenre" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Book Author</label>
                                <input type="text" id="name" class="form-control"
                                       asp-for="BookAuthor" placeholder="Enter Book Author" />
                                <span asp-validation-for="BookAuthor" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Series</label>
                                <input type="text" id="name" class="form-control"
                                       asp-for="BookSeries" placeholder="Enter Book Series" />
                                <span asp-validation-for="BookSeries" class="text-danger"></span>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="name">Description</label>
                                <textarea id="name" class="form-control" asp-for="BookDescription" placeholder="Book Description"></textarea>
                                <span asp-validation-for="BookDescription" class="text-danger"></span>
                            </div>
                          
                            <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
                                <button class="btn btn-primary btn-block login-btn gradient-custom-2 mb-3" type="submit">
                                    Register
                                </button>
                                <a asp-controller="Home" asp-action="Index">
                                    &#8592 Back
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
