@using ASI.Basecode.Services.ServiceModels
@model BookMasterViewModel
@{
    ViewData["Title"] = "Add Book";
}
@using static ASI.Basecode.Resources.Views.Screen

<div class="position-relative mt-3">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<h4 class="text-start display-4">
    Add Book
</h4>

<div class="container mt-3 bookadd-container">
    <form method="post" action="/Admin/AdminBookAdd" enctype="multipart/form-data">
        <div class="form-outline mb-4">
            <label class="form-label" for="BooksId">Book Id</label>
            <input type="text" id="BooksID" class="form-control"
                   asp-for="BId" placeholder="Enter Book ID" />
            <span asp-validation-for="BId" class="text-danger"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="bookTitle">Book Title </label>
            <input type="text" id="bookTitle" class="form-control"
                   asp-for="BookTitle" placeholder="Enter Book Title" />
            <span asp-validation-for="BookTitle" class="text-danger"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="bookAuthor">Book Author</label>
            <input type="text" id="bookAuthor" class="form-control"
                   asp-for="BookAuthor" placeholder="Enter Book Author" />
            <span asp-validation-for="BookAuthor" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BookDes" class="control-label">Book Genre</label>
            <select asp-for="BookDes" class="form-control">
                <option value="">Select an option</option>
                <option value="Horror">Horror</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Fiction">Fiction</option>
                <option value="Novel">Novel</option>
                <option value="Thriller">Thriller</option>
                <option value="Romance">Romance</option>

            </select>
            <span asp-validation-for="BookDes" class="text-danger"></span>
        </div>

        <div class="form-group mb-4">
            <label class="form-label" for="bookImageFile">Book Image</label>
            <div class="custom-file">
                <input type="file" id="bookImageFile" name="bookImageFile" accept="image/*" asp-for="BookImageFile" class="custom-file-input" />
                <span asp-validation-for="BookImageFile" class="text-danger"></span>
                <label class="custom-file-label" for="bookImageFile">Choose file</label>
            </div>
        </div>

        <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
            <button class="btn add-btn btn-block login-btn gradient-custom-2 mb-3" type="submit">
                Add Book
            </button>
        </div>
    </form>
</div>


@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }

        $('#bookImageFile').on('change', function () {
            var files = Array.from(this.files).map(file => file.name);
            $('.custom-file-label').html(files.join(', '));
        });
    </script>
}