@using ASI.Basecode.Services.ServiceModels
@using static ASI.Basecode.Resources.Views.Screen
@model BookGenres
@{
    ViewData["Title"] = "Add Book Genre";
}
@section styles {
	<link href="~/css/addgenre.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
}
<div class="position-relative mt-3 mb-5">
    <div class="row">
        <div class="col-md-10">
            <h1 class="text-start">
                Flip Thru
            </h1>
        </div>
        <div class="col-md-2">
            <img src="~/img/dashboard-girl.png" alt="Dashboard Girl" class="dashboard-image position-absolute">
        </div>
    </div>
</div>

<h4 class="text-start display-4">
    Add Book
</h4>

<div class="container mt-3 genreadd-container">
    <form method="post" action="/Admin/BookGenreAdd" enctype="multipart/form-data">
        <div class="form-outline mb-4">

            <label class="form-label" for="GenreId">Genre Id</label>
            <input type="text" id="GenreId" class="form-control"
                   asp-for="Genre.GenreId" placeholder="Enter Genre ID" />
            <span asp-validation-for="Genre.GenreId" class="text-danger"></span>
        </div>

        <div class="form-outline mb-4">
            <label class="form-label" for="GenreName">Genre Name </label>
            <input type="text" id="GenreName" class="form-control"
                   asp-for="Genre.GenreName" placeholder="Enter Genre Name" />
            <span asp-validation-for="Genre.GenreName" class="text-danger"></span>
        </div>

        <div class="text-center pt-1 mb-5 pb-1 d-flex flex-column align-items-center">
            <button class="btn add-btn btn-block login-btn gradient-custom-2 mb-3" type="submit">
                Add Genre
            </button>
        </div>
    </form>
</div>


@section scripts {
    <script>
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}