@model string
@using static ASI.Basecode.Resources.Views.Screen
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Book Content";
}
@section styles {
    <link href="~/css/readbooks.css" rel="stylesheet" />
}

<a class="return" asp-controller="Home" asp-action="Discover"><i class="fas fa-arrow-left"></i></a>

<div class="book-pages">

    <div class="page active">
        @Html.Raw(Model)
    </div>

</div>

<div class="pagination text-center align-content-center justify-content-center">

    <button onclick="showPage(1)">1</button>

</div>


@section scripts {
    <script>
        function showPage(pageNumber) {
            // Hide all pages
            var pages = document.querySelectorAll('.page');
            pages.forEach(function (page) {
                page.classList.remove('active');
            });

            // Show the selected page
            var selectedPage = document.querySelector('.page:nth-child(' + pageNumber + ')');
            if (selectedPage) {
                selectedPage.classList.add('active');
            }
        }
    </script>
}