/*book add - admin*/
.dashboard-image {
    width: 150px;
    height: 150px;
}

.bookadd-container {
    border: 2px solid #C98276;
    border-radius: 12px;
    background-color: #FCE9DB;
    padding: 20px 250px 0px 250px;
}

    .bookadd-container label {
        font-weight: bold;
    }

.add-btn {
    background-color: #FA8A8A;
    color: #FFFFFF;
    font-weight: bold;
}

.back-button {
    background-color: #E35D6A;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 16px;
    padding: 0.25rem 0.5rem;
    width: 80px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .back-button:hover {
        color: #000000;
    }
/*book add - admin*/
