/*dashboard - admin*/
.search-button {
    background-color: #FCE9DB;
    color: #000000;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    padding: 0.25rem 0.50rem;
    width: 80px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .search-button:hover {
        color: #E35D6A;
    }

.form {
    position: relative;
    margin-left: auto;
    width: 400px;
}

    .form .input-group .fa-search {
        z-index: 4;
        position: absolute;
        top: 11px;
        left: 12px;
        color: #E35D6A;
    }

.form-input {
    z-index: 1;
    text-indent: 24px;
}

    .form-input:focus {
        z-index: 1;
        box-shadow: none;
        border-color: #d1d5db;
    }
/*dashboard - admin*/
