/*.gradient-custom-2 {*/
    /* fallback for old browsers */
    /*background: #ff0000;*/ /* Red */
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, #ff0000, #000000);*/ /* Red, Black */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, #ff0000, #000000);*/ /* Red, Black */
/*}

.login-btn {
    width: 180px;
}

.register-box {
    width: 600px;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}*/
.background-page {
    background-color: #C98276;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    border: 2px solid #C98276;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin-top: 75px;
    margin-left: 100px;
    padding: 20px 100px 20px 100px;
}

.rectangle {
    position: fixed;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: white;
}

.background-page {
    overflow: hidden;
}

.form-control {
    width: 300px;  
}

.form-label {
    font-weight: bold;
}

.register-btn {
    background-color: #DBAC98;
    border: none;
    outline: none;
    width: 300px;
}

    .register-btn:hover {
        background-color: #DBAC98;
        outline: none;
    }

.back-button {
    background-color: #E35D6A;
    color: #FFFFFF;
    border: none;
    outline: none;
    width: 300px;
    font-weight: bold;
}

    .back-button:hover {
        background-color: #E35D6A;
        outline: none;
    }

#togglePassword {
    z-index: 3;
    margin-left: -40px;
    cursor: pointer;
    width: 40px;
    border: none;
    background: none;
}

#toggleConfirmPassword {
    z-index: 3;
    margin-left: -40px;
    cursor: pointer;
    width: 40px;
    border: none;
    background: none;
}






