/* Main CSS Here */

@import url( "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

/*Dashboard*/
/*book details*/
.book-details {
    z-index: 2;
    position: fixed;
    right: -270px;
    width: 270px;
    height: 100%;
    background: #C98276;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    transition: right 0.3s ease;
}

.book-details.active {
    right: 0;
}

.book-details-head {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    margin: 20px 0 5px 0;
    padding: 0 20px 0 20px;
}

.book-details-head i {
    font-size: 34px;
    color: #ffffff;
}

.book-details-head h4 {
    padding: 4px 0 0 20px;
}

.book-details-body {
    display: flex;
    padding: 0 40px 0 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-details-img {
    width: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

    .book-details-img img {
        padding: 5px;
        border-radius: 10px;
    }


.book-details-title-author {
    flex-direction: column;
    align-items: center;
}

    .book-details-title-author h4 {
        font-size: 18px;
        color: #ffffff;
        margin:0;
        padding: 0;
    }

    .book-details-title-author p {
        font-size: 12px;
        color: #ffffff;
        margin: 0;

    }

.book-details-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

.book-details-star-rating {
    display: flex;
    justify-content: center;
}

    .book-details-star-rating .fa-star {
        color: #ffffff;
        font-size: 12px;
        margin: 0px 2px;
    }

.num-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .num-rating h4 {
        font-size: 18px;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .num-rating p {
        font-size: 12px;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

.book-details-rating .fa-pen-to-square {
    font-size: 14px;
    color: #ffffff
}

.book-details-description{
    margin-top: 10px;
}

.book-details-description p {
    font-size: 12px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

a.start-button {
    font-weight: bold;
    background-color: #FCE9DB;
    color: #E35D6A;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}

    a.start-button:hover {
        color: #E35D6A;
        text-decoration: none;
    }
/*book details*/

/*sidebar navigation*/
.sidebar {
    z-index: 2;
    position: fixed;
    left: -270px;
    width: 270px;
    height: 100%;
    background: #ffffff;
    transition: all .5s ease;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
}

.sidebar.active {
    right: 0;
}

.sidebar-container {
    margin: -25px 0 0 0;
}

.sidebar header {
    margin: 20px 0 0 0;
    font-size: 20px;
    color: #515151;
    text-align: center;
    background: #ffffff;
    user-select: none;
}

.sidebar ul {
    margin: 30px 0 0 30px;
}

    .sidebar ul a {
        display: block;
        height: 80%;
        width: 80%;
        border-radius: 10px;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #E35D6A;
        padding-left: 40px;
        text-align: left
    }

        .sidebar ul a:hover {
            text-decoration: none;
            color: #000000;
            background: #EEC1AD;
            padding-left: 10px;
        }

            .sidebar ul a:hover i {
                color: #E35D6A;
            }

        .sidebar ul a i {
            margin-right: 16px;
        }

#check {
    display: none;
}

label #btn, label #cancel {
    position: fixed;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 10px;
    font-size: 35px;
    color: #E35D6A;
    padding: 4px 9px;
    margin: 0 0 0 -20px;
    transition: all .5s ease;
}

label #cancel {
    z-index: 1111;
    left: -270px;
    top: 10px;
    font-size: 35px;
    color: #E35D6A;
    padding: 4px 9px;
    margin: 0 0 0 -20px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0px;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}


#check:checked ~ label #cancel {
    left: 250px;
}

/*Moving Index*/
#check:checked ~ .container {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.container {
    transition: all .5s ease;
    width: 100%;
}
/*Moving Index*/

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username {
    font-size: 30px;
    font-weight: bold;
    color: #515151;
    margin: 0 0 -10px 0;
}

.email {
    font-size: 12px;
    color: #A6A2A2;
}
/*sidebar navigation*/

/*searchbar*/
.search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 10px 10px;
    color: #515151;
}

.dashboard-title {
    margin-top: 8px;
}

.search-container {
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.5);
}

.form {
    z-index:1;
    position: relative;
    margin-left: auto;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #E35D6A;
}

.form span {
    position: absolute;
    right: 17px;   
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 55px;
    width: 400px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}
/*searchbar*/

/*dashboard*/
.dashboard-body {
    padding: 10px;
}

.dashboard-content {
    display: flex;
    align-items: center;
    background: #FCE9DB;
    border-radius: 15px;
    padding: 20px 50px 0 50px;
}

.dashboard-text {
    flex: 1;
    margin-right: 20px;
}

h3 {
    font-size: 35px;
    color: #000000;
    margin: 0;
}

.add-button {
    background-color: #C98276;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

    .add-button:active, .add-button:focus {
        outline: none;
    }

.fa-plus {
    font-size: 12px;
}

.dashboard-image {
    flex: 1;
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/*New Book*/
.new-book-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.new-book-title {
    align-self: flex-start;
    margin: 0;
}

.see-more-link {
    align-self: flex-end;
    text-decoration: none;
    color: #E35D6A;
    margin: 0;
}

.see-more-link:hover {
    color: #E35D6A;
    text-decoration: none;
}

.book-containers {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 10px;
}

.new-book-link {
    color: #000000;
    border: 2px solid transparent;
}
    .new-book-link:hover {
        color: #000000;
        text-decoration: none;
        border: 2px solid #C98276;
        border-radius: 12px;
        box-shadow: 0px 4px 5px -3px #888;
    }

.book-container {
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    align-items: center;
}

.new-book-info {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.book-container img {
    width: 180px;
    border-radius: 10px;
}

.book-container h4 {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.book-container p {
    font-size: 12px;
    color: #555;
    margin: 0 0 10px 0;
}

.star-rating {
    display: flex;
    justify-content: center;
}

.fa-star {
    color: #E35D6A;
    font-size: 12px;
    margin: 0px 2px;
}
/*New Book*/

/*Book List*/
.book-list-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.book-list-container {
    background-color: #ffffff;
    border: 2px solid #C98276;
    border-radius: 15px;
    padding: 10px 20px 0 20px;
}

.book-list-title {
    align-self: flex-start;
    margin: 0;
}

.view-all-link {
    align-self: flex-end;
    text-decoration: none;
    color: #E35D6A;
    margin: 0;
}

.view-all-link:hover {
    color: #E35D6A;
    text-decoration: none;
}

.book-list {
    display: flex;
    flex-direction: column;
}

.book-item {
    display: flex;
    background-color: #FCE9DB;
    border-radius: 15px;
    margin-bottom: 10px;
}

.book-item img {
    max-width: 60px;
    height: auto;
    margin-right: 20px;
}

.book-list-details {
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

.book-info p {
    font-size: 12px;
}

.book-info h4 {
    color: #000000;
    font-size: 24px;
}

.book-info span {
    font-size: 12px;
}

.book-info h4,
.book-info p {
    margin: 0;
}
/*Book List*/

/*Popular Books*/
.popular-books-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.popular-books-title {
    align-self: flex-start;
    margin: 0;
}

.popular-see-more-link {
    align-self: flex-end;
    text-decoration: none;
    color: #E35D6A;
    margin: 0;
}

    .popular-see-more-link:hover {
        color: #E35D6A;
        text-decoration: none;
    }

.popular-books-containers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.popular-books-link{
    color: #000000;
}
.popular-books-link:hover {
    color: #000000;
    text-decoration:none
}

.popular-books-link:hover .popular-books-container {
    transform: translate(0, -30px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popular-books-container {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: left;
    align-items: center;
    position: relative;
}

.popular-books-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popular-books-container img {
    width: 170px;
    border-radius: 10px;
    border-radius: 10px;
}

.popular-books-container h4 {
    font-size: 14px;
    margin: 10px 0 0 0;
}

.popular-books-container p {
    font-size: 12px;
    color: #555;
    margin: 0 0 10px 0;
}

.place-badge {
    position: absolute;
    display: flex;
    align-items: center;
    top: -20px;
    left: -20px;
}

.place-badge i {
    font-size: 60px;
    color: #E35D6A;
    z-index: 1; 
}

/*.place-badge h4 {
    top: -12px;
    left: -29px;
    position: relative;
    font-size: 24px;
    color: #000000;
    z-index: 2;
}*/

.fa-award {
    font-size: 60px;
    color: #87CEEB;
}
/*Popular Books*/

/*Popular Books List*/
.popular-books-list-body {
    display: flex;
    flex-direction: column;
}

.popular-books-list-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0 40px 0 40px;
}

.popular-books-list-title {
    align-self: flex-start;
    margin: 0;
}

.popular-books-list {
    display: flex;
    flex-direction: column;

}

.popular-books-list-item {
    display: flex;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    border-bottom: 3px solid #EEC1AD
}

.popular-books-list-number {
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;

}
.popular-books-list-item img {
    max-width: 80px;
    height: auto;
    margin: 0 20px 10px 0;
}


.popular-books-list-details {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.popular-books-list-info p {
    font-size: 12px;
}

.popular-books-list-info h4,
.popular-books-list-info p {
    margin: 0;
}

.go-to-book, fa-chevron-right {
    color: #000000;
    text-decoration: none;
}

    .go-to-book:hover, fa-chevron-right {
        color: #000000;
        text-decoration: none;
    }

/*List*/
.reviews-ratings {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.popular-reviews-ratings {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.reviews, .ratings {
    font-size: 12px;
    margin: 2px 0;
}

.fa-comment {
    margin-left: 10px;
    font-size: 12px;
}

.ratings {
    margin: 2px 20px;
}

.fa-chevron-right{
    margin-left: 630px;
    font-size: 30px;
}
/*Popular Books List*/
/*dashboard*/

/*Custom Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    margin-right: 50px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E35D6A;
}
/*Custom Scrollbar*/

/*Review*/
.review-container {
    height: 100px;
}

#review-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    box-shadow: 5px 0 3px -3px rgba(0,0,0,0.25);
}

.return i {
    font-size: 30px;
    color: #E35D6A;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.review-book-img img {
    margin-top: 30px;
    width: 120px;
}

.review-title-author {
    margin: 5px 0 0 0;
    align-items: center;
    text-align: center;
}

.review-title-author h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.review-title-author p {
    font-size: 12px;
    color: #C98276;
    text-align: start;
    margin:0;
}

.review-rating {
    display: flex;
    text-align: center;
    margin-bottom: 25px;
}

.review-star-rating {
    margin-right: 10px;
}

.review-star-rating i {
    font-size: 12px;
    color: #DBAC98;
}

.review-num-rating {
    display: flex;
    margin-top: 4px;
    gap: 5px;
}

.review-num-rating i {
    color: #D9D9D9;
    font-size: 6px;
    margin-top: 5px;
}

.review-num-rating p {
    font-size: 12px;
    margin: 0;
}

.reviews {
    display: flex;
    margin-right: 130px;
    margin-bottom: 10px;
    gap: 5px;
}

.reviews i {
    font-size: 16px;
    color: #E35D6A;
}

.reviews h4 {
    font-size: 16px;
    color: #515151;
    margin: 0;
}

.review-comments {
    width: 330px;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #E35D6A;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.user img {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.user h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.user p {
    font-size: 14px;
    margin: 0;
}

.user i {
    font-size: 14px;
}

.review-date {
    display: flex;
    gap: 3px;
    margin-top: -5px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.review-date h4 {
    font-size: 10px;
    color: #A6A2A2;
    margin: 0;
}

.comments {
    display: flex;
    margin-left: 25px;
    margin-bottom: 10px;
    text-align: start;
}

.comments p {
    font-size: 14px;
    margin: 0;
}

.interaction {
    display: flex;
    margin-left: 25px;
    gap: 5px;
}

.interaction i{
    font-size: 14px;
    margin: 0;
}

a.more-review {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    color: #E35D6A;
    margin-left: 250px;
}

#review-bar .write-review {
    font-weight: bold;
    background-color: #E35D6A;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 105px 10px 105px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-decoration: none;
}

review-bar:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#review-chapter {
    padding: 50px 0 0 40px;
}

.review-chapter h4 {
    font-weight: bold;
}

.review-chapter p {
    margin-top: 15px
}
/*Review Modal*/

#h6-review {
    margin-bottom: 10px;
}

#review-rating {
    margin-top: 10px;
    margin-bottom: 20px;
}

    #review-rating i {
        font-size: 20px;
        color: #E35D6A;
    }

#review-textarea {
    border: 2px solid #E35D6A;
    width: 100%;
    height: 200px;
    padding: 15px;
}

#btn-post {
    font-weight: bold;
    background-color: #E35D6A;
    padding: 10px 40px 10px 40px;
    border: none;
    outline: none;
}

    #btn-post:hover {
        background-color: #ffffff;
        color: #E35D6A;
        outline: 1px solid;
    }

#btn-cancel {
    font-weight: bold;
    border-color: #E35D6A;
    color: #E35D6A;
    padding: 10px 30px 10px 30px;
}

    #btn-cancel:hover {
        background-color: #E35D6A;
        color: #ffffff;
    }
/*Review*/
:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #3f0097;
    --one-use-color: #3f0097;
    --two-use-color: #5500cb;
}

body {
/*    background-color: #D0D0D0;*/
/*    background-color: var(--background-color2);*/
    max-width: 100%;
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 0;
/*    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;*/
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: rgb(47, 141, 70);
}

.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 10px;
}

.hover-pointer {
    cursor: pointer;
}

.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

.searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}

.dp {
    height: 50px;
    width: 50px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer; 
    position: relative;
    overflow: hidden; 
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.dpicn {
    height: 52px;
}

.main {
    height: calc(100vh - 70px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

    .main::-webkit-scrollbar-thumb {
        background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
    }

    .main::-webkit-scrollbar {
        width: 5px;
    }

    .main::-webkit-scrollbar-track {
        background-color: #9e9e9eb2;
    }

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 91vh;
    width: 273px;
    background-color: #1e272e;
    position: absolute;
    top: 0px;
    left: 0;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
    color: whitesmoke !important;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 600px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

    .navcontainer::-webkit-scrollbar {
        display: none;
    }

.navclose {
    width: 80px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

    .nav-option:hover {
        border-left: 5px solid #a2a2a2;
        background-color: #dadada;
        cursor: pointer;
    }

.nav-img {
    height: 30px;
}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

    .option1:hover {
        border-left: 5px solid #010058af;
        background-color: var(--Border-color);
    }

.box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
}

.box:nth-child(1) {
    background-color: var(--one-use-color);
}

.box:nth-child(2) {
    background-color: var(--two-use-color);
}

.box:nth-child(3) {
    background-color: var(--one-use-color);
}

.box:nth-child(4) {
    background-color: var(--two-use-color);
}

.box img {
    height: 50px;
}

.box .text {
    color: white;
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}

.report-container {
    min-height: 300px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.report-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: #5500cb;
}

.view {
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.report-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.report-topic-heading,
.item1 {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-op {
    font-size: 18px;
    letter-spacing: 0px;
}

.items {
    width: 1120px;
    margin-top: 15px;
}

.item1 {
    margin-top: 20px;
}

.t-op-nextlvl {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.label-tag {
    width: 100px;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
}

#header-menu {
    display: flex;
    flex: 0 0 70%;
    margin-left: 40px;
    margin-right: 10px;
    column-gap: 20px;
}

#header-menu ul {
    margin: 0px !important;
}