@{
    ViewData["Title"] = "Review";
}
<div class="review-container">

    <div class="review-content row">
        <div class="col-4" id="review-bar">

            <a class="return" asp-action="Index" asp-controller="Home"><i class="fas fa-arrow-left"></i></a>

            <div class="review-book-img">
            <img src="~/img/book-test.png" alt="Book Image">
            </div>

            <div class="review-title-author">
                <h4>A Clockwork Orange</h4>
                <p>by Anthony Burgess</p>
            </div>

            <div class="review-rating">
                <div class="review-star-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>

                <div class="review-num-rating">
                    <p>8.6</p>
                    <i class="fas fa-square"></i>
                    <p>774 Ratings</p>
                    <i class="fas fa-square"></i>
                    <p>463 Review</p>
                </div>
            </div>

            <div class="reviews">
                <i class="fas fa-splotch"></i>
                <h4>Community Reviews</h4>
            </div>

            <div class="review-comments">
                <div class="user">

                </div>

                <div class="review-date">

                </div>

                <div class="comments">

                </div>

                <div class="interaction">

                </div>
               
            </div>
            <a href="#">More reviews</a>
            <a href ="#">Write a Review</a>

        </div>

        <div class="col-8" id="review-chapter">

            <div class="review-chapter">
                <h3>Chapter 1</h3>

                <p>
                    Author Helen Macdonald goes to a forest northeast of Cambridge to watch for goshawks. 
                    Macdonald is an academic, and she loves this part of the country because it is wild and 
                    rich with history. After waiting and watching, Macdonald sees male and female goshawks 
                    circling each other in the air; then they disappear. She has a memory of birdwatching with 
                    her father and him explaining to her for the first time the concept of “patience.”
                    Three weeks later, Macdonald receives a call from her mother: her father has died. 
                    In a blur of grief, she goes to London, attends the funeral, and picks up her father’s car 
                    from the impound lot. Macdonald returns to Cambridge, has a brief and unsuccessful romance
                    with a man who leaves her when he discovers the depth of her grief, and dreams about hawks.
                    It rains heavily.
                </p>

                <p>
                    Macdonald was twelve years old when she first saw falconers at work flying their goshawks, 
                    and this experience impacted her tremendously; she goes on to become a falconer herself. 
                    After her father’s death, Macdonald decides to reach out to a hawk breeder in Northern Ireland 
                    who has one young goshawk left. She plans to drive to fetch the hawk, feeling that it somehow 
                    “chose” her. As a child, she was obsessed with birds of prey and fascinated by the archaic 
                    world of falconry; in particular, she recalls reading T. H. White’s The Goshawk when she was eight. 
                    She writes that she is “haunted” by White and describes his unhappy childhood and troubled adulthood 
                    as a teacher, writer, and closeted gay man in 1930s England.
                </p>
            </div>
            
        </div>

    </div>

</div>

